openapi: 3.0.0
info:
  title: farmer cdn instance/{namespace}/ingresses API
  version: v1
tags:
- name: instance/{namespace}/ingresses
paths:
  /instance/{namespace}/ingresses:
    get:
      description: Get a list of ingresses and information about them
      parameters:
      - description: Namespace name
        example: project-europe-west1-gcp-storefrontcloud-io
        in: path
        name: namespace
        required: true
        schema:
          type: string
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressEnvelope'
          description: Success
        default:
          description: ''
          schema:
            $ref: '#/components/schemas/IngressEnvelope'
      security:
      - FarmerApiKey: []
        FarmerUserId: []
      summary: Provides a list of ingresses and their types, domains and ips
      tags:
      - instance/{namespace}/ingresses
  /v2.2/instance/{namespace}/ingresses:
    get:
      description: Get a list of ingresses and information about them
      parameters:
      - description: Namespace name
        example: project-europe-west1-gcp-storefrontcloud-io
        in: path
        name: namespace
        required: true
        schema:
          type: string
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressEnvelope'
          description: Success
        default:
          description: ''
          schema:
            $ref: '#/components/schemas/IngressEnvelope'
      security:
      - FarmerApiKey: []
        FarmerUserId: []
      summary: Provides a list of ingresses and their types, domains and ips
      tags:
      - instance/{namespace}/ingresses
components:
  schemas:
    IngressEnvelope:
      properties:
        code:
          description: response code
          type: integer
        ingresses:
          items:
            $ref: '#/components/schemas/K8sIngress'
          type: array
      type: object
    K8sIngress:
      properties:
        domains:
          readOnly: true
        ip:
          readOnly: true
        type:
          readOnly: true
        url_map:
          description: url map name (for GCE ingresses)
          readOnly: true
      type: object
servers:
- url: https://farmer.vuestorefront.cloud
  description: Base URL reconciled from apis.yml
