openapi: 3.0.0
info:
  title: farmer cdn instance/{namespace}/pod/{pod} API
  version: v1
tags:
- name: instance/{namespace}/pod/{pod}
paths:
  /instance/{namespace}/pod/{pod}:
    get:
      description: Using this endpoint you can get pods status of your instance
      parameters:
      - description: Pod name
        example: nginx-77dd45c46d-k82ll
        in: path
        name: pod
        required: true
        schema:
          type: string
        type: string
      - description: Namespace name
        example: project-europe-west1-gcp-storefrontcloud-io
        in: path
        name: namespace
        required: true
        schema:
          type: string
        type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodStatusEnvelope'
          description: Success
        default:
          description: ''
          schema:
            $ref: '#/components/schemas/PodStatusEnvelope'
      security:
      - FarmerApiKey: []
        FarmerUserId: []
      summary: Get status of pods of your instance
      tags:
      - instance/{namespace}/pod/{pod}
components:
  schemas:
    ContainerStatus:
      properties:
        name:
          type: string
        ready:
          type: boolean
        restarts:
          type: integer
        status:
          enum:
          - Waiting
          - Running
          - Terminated
          type: string
      type: object
    PodStatusEnvelope:
      properties:
        error:
          type: boolean
        message:
          type: string
        pod:
          $ref: '#/components/schemas/PodStatus'
      type: object
    PodStatus:
      properties:
        containers:
          items:
            $ref: '#/components/schemas/ContainerStatus'
          type: array
        name:
          type: string
        reason:
          type: string
        start_time:
          type: string
        status:
          enum:
          - Running
          - Pending
          - Failed
          - Unknown
          - Succeeded
          type: string
      type: object
servers:
- url: https://farmer.vuestorefront.cloud
  description: Base URL reconciled from apis.yml
